{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'grade/scss/base.scss' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    {% block head_extends %}{% endblock %}
    <title>{% block title %}Base Layout{% endblock %} - カキカタ先生</title>
  </head>
  <body>
    {% block body %}
    <p>This is My Layout.</p>
    <div class="test">
      テストブロック <br>
      基本的には日本語で記述していくため、これらの文章が読みやすいようなフォントを設定するといいと思います。 <br>
      しょうがくせい <br>
      ぱそこん <br>
      カキカタ先生 <br>
      カキカタせんせい <br>
      さいてん <br>
      スコア <br>
      とくてん <br>

    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'grade/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'grade/js/base.js' %}"></script>
    {% block js_extends %}{% endblock %}
  </body>
</html>
