{% extends 'grade/base.html' %}

{% load sass_tags %}
{% load static %}

{% block head_extends %}
{{block.super}}
<link rel="stylesheet" href="{% sass_src 'grade/scss/signinup.scss' %}">
{% endblock %}

{% block title %}とうろく{% endblock%}

{% block body %}
<div class="container">
  <h2>ユーザーとうろく</h2>
  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="field">
      <p class="field-name">ユーザー名</p>
      <p class="error">{{form.username.errors.0}}</p>
      <i class="fas fa-user"></i>
      {{form.username}}
    </div>
    <div class="field">
      <p class="field-name">パスワード</p>
      <p class="error">{{form.password1.errors.0}}</p>
      <i class="fas fa-key"></i>
      {{ form.password1 }}
    </div>
    <div class="field">
      <p class="field-name">パスワード（かくにん）</p>
      <p class="error">{{form.password2.errors.0}}</p>
      <i class="fas fa-key"></i>
      {{ form.password2 }}
    </div>
    <div class="field">
      <p class="field-name">ニックネーム</p>
      <p class="error">{{form.nickname.errors.0}}</p>
      <i class="far fa-smile"></i>
      {{ form.nickname }}
    </div>
    <button type = "submit">とうろく</button>
  </form>
  <div class="other">
    <div class="other-method">
      <p>-- すでに とうろくずみの ばあい --</p>
      <a href="{% url 'login' %}" class="method-signup">ログイン</a>
    </div>
  </div>
</div>
{% endblock %}
